<!-- <div class="sidebar">
  <a class="active" href="#home">Dashboard</a>
  <a routerLink="/ware-house-product-list">WareHouse</a>
  <a routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}"
  [routerLink]="['/ware-house-product-edit/0/edit']">Contact</a>

</div> -->
<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-dark bg-primary" *ngIf="currentUser">
  <a class="navbar-brand" routerLink="/">WareHouse</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link" href="#">Link</a> -->
      </li>
      <li class="nav-item dropdown">
        <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div> -->
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link disabled" href="#">Disabled</a> -->
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <a class="nav-link" style="color:#ffffff" *ngIf="currentUser">Welcome to {{getUsername}}</a>
      <button class="btn btn-success btn-sm" (click)="logout()">LogOut</button>
    </div>
  </div>
</nav>

<div class="sidebar" *ngIf="currentUser">
  <a routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}" routerLink="/"><i class="nav-top-icon fal fa-tachometer"></i> Dashboard</a>
  <a routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}" routerLink="/ware-house-product-list"><i class="nav-top-icon fal fa-shopping-cart"></i> WareHouse</a>
  <a routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}"
  [routerLink]="['/ware-house-product-edit/0/edit']"><i class="nav-top-icon fal fa-cart-plus"></i> Create Products</a>

</div>
<div class="content">
  <!-- <p>Welcome To WareHouse</p> -->
  <router-outlet></router-outlet>
</div>



