<div class="card mt-3">
  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-md-2">Filter by:</div>
      <div class="col-md-4">
        <input type="text" class="form-control custFontSize" style="font-size:13px;" [(ngModel)]="listFilter" placeholder="Search By Product Name" />
      </div>
    </div>
    <div class="table-responsive mt-2">
      <table class="table table-bordered"
             *ngIf="products && products.length">
        <thead>
          <tr>
            <th>Product</th>
            <th>Code</th>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of filteredProducts">
            <td>
              <a routerLink="['../ware-house-product-list/ware-house-product.id]">
                {{ product.productName }}
              </a>
            </td>
            <td>{{ product.productCode }}</td>
            <td>{{ product.description }}</td>
            <td>
              <button class="btn btn-primary btn-sm"
              (click)="productEdit(product.id)">
                Edit
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div *ngIf="errorMessage"
     class="alert alert-danger">
  Error: {{ errorMessage }}
</div>
